<div id="@Name" 
	 tabindex="-1" 
	 role="button" 
	 class="robot @(IsSelected ? "selected" : string.Empty)" 
	 style="--rotation: @((int)Position.Rotation); --offset-x: @(Position.Vector.x); --offset-y: @(Position.Vector.y)">
	<img src="/sprites/karesz.png" />
</div>

<FluentTooltip Anchor="@Name"
			   Delay="0"
			   MaxWidth="400px"
			   UseTooltipService="false"
			   Position="TooltipPosition.Bottom">
	@Name at @(Position.Vector) looking @(Position.Rotation)
</FluentTooltip>

@code {
	[Parameter]
	public Position Position { get; set; }

	[Parameter]
	public string Name { get; set; } = "Karesz";

	[Parameter]
	public bool IsSelected { get; set; } = false;
}
