<div id="@Name" 
	 tabindex="-1" 
	 role="button" 
	 class="robot @(IsSelected ? "selected" : string.Empty)" 
	 style="--rotation: @((int)Position.Rotation); --offset-x: @(Position.Vector.x); --offset-y: @(Position.Vector.y)">
	<img src="/sprites/karesz.png" />
</div>

<FluentTooltip Anchor="@Name"
			   Delay="0"
			   MaxWidth="400px"
			   UseTooltipService="false"
			   Position="TooltipPosition.Bottom">
	@Name at @(Position.Vector) looking @(Position.Rotation)  <br />
	@for (int i = 0; i < Stones.Length; i++)
	{
		<div>@(TileDisplay[i]): @(Stones[i])</div>
	}
</FluentTooltip>

@code {
	[Parameter]
	public Position Position { get; set; }

	[Parameter]
	public string Name { get; set; } = "Karesz";

	[Parameter]
	public bool IsSelected { get; set; } = false;

	[Parameter]
	public int[] Stones { get; set; } = [];

	private static readonly string[] TileDisplay = ["Fekete", "Piros", "Zöld", "Sárga", "Hó"];
}
