<div id="@Info.Name"
	 tabindex="-1" 
	 role="button" 
	 class="robot @(IsSelected ? "selected" : string.Empty)" 
	 style="--rotation: @((int)Info.Position.Rotation); --offset-x: @(Info.Position.Vector.x); --offset-y: @(Info.Position.Vector.y)">
	<img src="@(Info.Alt ? "/sprites/lilesz.png" : "/sprites/karesz.png")" />
</div>

<FluentTooltip Anchor="@Info.Name"
			   Delay="0"
			   MaxWidth="400px"
			   UseTooltipService="false"
			   Position="TooltipPosition.Bottom">

	@Info.Name at @(Info.Position.Vector) looking @(Info.Position.Rotation)  <br />
	@if (!Info.Alt)
	{
		@for (int i = 0; i < Info.Stones.Length; i++)
		{
			<div>@(TileDisplay[i]): @(Info.Stones[i])</div>
		}
	}
</FluentTooltip>

@code {
	[Parameter]
	public Core.RobotInfo Info { get; set; }

	[Parameter]
	public bool IsSelected { get; set; } = false;

	private static readonly string[] TileDisplay = ["Fekete", "Piros", "Zöld", "Sárga", "Hó"];
}
